

{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tech Trove</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen flex flex-col bg-gray-100">
  <!-- Logo Section -->
  <div class="rounded-lg">
    <img class="rounded-lg" src="{% static 'image/logo.png' %}" alt="tech-trove-logo"  >
  </div>

  <!-- Header Information (User Info) -->
  <div class="p-4 mb-6 relative rounded-lg bg-white shadow-md">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-2 gap-6">
      {% include "user_info.html" with title='Name' value=name %}
      {% include "user_info.html" with title='Class' value=class %}
    </div>

    <div class="w-full px-6 absolute top-[44px] left-0 z-20 hidden md:flex">
      <div class="w-full min-h-4 bg-gradient-to-r from-cyan-600 to-purple-600"></div>
    </div>
  </div>

  <!-- Last Login Information -->
  <div class="px-4 mb-6">
    <div class="flex items-center bg-gradient-to-r from-cyan-500 to-purple-500 py-3 px-5 w-fit shadow-md rounded-full">
      <h1 class="text-white text-center font-semibold">Last Login: {{last_login}}</h1>
    </div>
  </div>

  <!-- Add New Product Entry Button -->
  <div class="flex justify-end mb-8">
    <a href="{% url 'main:product_entry' %}" class="bg-gradient-to-r from-cyan-500 to-purple-500 hover:from-purple-500 hover:to-cyan-500 text-white font-bold py-3 px-5 rounded-lg shadow-lg transition-transform duration-300 hover:-translate-y-2 hover:scale-110">
      Add New Product
    </a>
  </div>

  <!-- Product Section Header -->
  <h1 class="text-4xl font-bold text-center text-cyan-600 mb-10">Our Products</h1>

  <!-- Product Cards or Placeholder -->
  {% if not products %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4">
    <p class="text-center text-gray-500 mt-4">No products available yet.</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-full">
    {% for product in products %}
      <!-- Using the template card_product that has been defined -->
      <div class="relative transform hover:scale-105 transition duration-300 shadow-lg rounded-lg overflow-hidden bg-white p-4">
        {% include 'card_product.html' with product=product %}
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
